@import "reset";
@import "reset";
@import "media";
@import "grid";

$primary: rgb(49, 42, 42);
$main-color: #cccccc;

.container {
    width: 1200px;
    margin: auto;
    @include rs-xs {
        max-width: 97%;
    }
    @include rs-sm {
        max-width: 97%;
    }
    @include rs-md {
        max-width: 95%;
    }
    @include rs-lg {
        max-width: 95%;
    }
}
header {
    position: relative;
    .container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        display: flex;
        justify-content: center;
        .header {
            display: flex;
            justify-content: space-between;
            padding: 20px 0px;
            padding-left: 20px;
            position: relative;
            width: 1200px;
            #menu {
                display: none;
                &:checked {
                    ~ nav {
                        display: block;
                        left: 0;
                        ~ li {
                            &:checked {
                                display: none;
                            }
                        }
                    }
                }
            }
            nav {
                display: none;
                position: fixed;
                width: 500px;
                height: 100vh;
                top: 0;
                left: -100%;
                z-index: 99;
                background-color: white;
                box-shadow: 5px 10px 12px #888888;
                ul {
                    li {
                        a {
                            padding: 20px;
                            font-size: 20px;
                            display: block;
                        }
                        &:hover {
                            background-color: $main-color;
                        }
                    }
                }
            }
            .menu {
                margin-left: 20px;
                span {
                    width: 20px;
                    height: 2px;
                    display: block;
                    margin-bottom: 5px;
                    background-color: $primary;
                }
            }
            h2 {
                color: $primary;
                font-weight: 300;
            }
        }
    }
}
.product {
    padding: 30px;
    border-bottom: 1px solid $main-color;
    margin-top: 80px;
    .row {
        .item {
            @include rs-sm {
                padding: 0px 10px;
            }
            margin: 15px 0px;
            text-align: center;
            .photo {
                img {
                    width: 100%;
                }
            }
            h2 {
                font-size: 23px;
                font-weight: 300;
                line-height: 35px;
            }
            p {
                margin-top: 10px;
                line-height: 25px;
            }
        }
    }
    .pages {
        text-align: center;
        margin: 40px 0px;
        span {
            font-size: 18px;
            padding: 10px 15px;
            &:hover {
                background-color: black;
                color: white;
                a {
                    color: white;
                }
            }
        }
        span:nth-child(2) {
            background-color: black;
            color: white;
            &:hover {
                color: black;
                background-color: $main-color;
            }
        }
    }
}
.story {
    padding: 30px 0px;
    border-bottom: 1px solid $main-color;
    text-align: center;
    h2 {
        margin: 40px 0px;
        font-weight: normal;
    }
    img {
        width: 100%;
    }
    h3 {
        font-size: 22px;
        margin-top: 30px;
    }
    h4 {
        font-weight: normal;
        margin: 15px;
        font-style: italic;
        font-size: 18px;
    }
    p {
        font-size: 17px;
        margin-bottom: 50px;
    }
}
footer {
    padding: 50px 40px;
    h2 {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 20px;
    }
    .content {
        p {
            margin-bottom: 20px;
            span {
                a {
                    text-decoration: underline;
                }
            }
        }
    }
    .blog_posts {
        margin-bottom: 30px;
        padding-right: 20px;
        .item {
            padding: 20px;
            display: flex;
            align-items: center;
            img {
                width: 60px;
                height: 60px;
                margin-right: 20px;
            }
            .cont {
                h3 {
                    font-weight: 200;
                    font-size: 18px;
                    margin-bottom: 5px;
                }
            }
            &:hover {
                background: $main-color;
            }
            &:nth-child(2) {
                border-bottom: 1px solid $main-color;
            }
        }
    }
    .tags {
        h2 {
            font-weight: 300;
            font-size: 22px;
        }
        ul {
            li {
                display: inline-block;
                background: #616161;
                color: white;
                padding: 2px 10px;
                font-weight: none;
                margin-bottom: 10px;
                &:first-child {
                    background: #000;
                }
            }
        }
    }
}
